{% INCLUDE 'overall_header.html' %}

<h1>{{ lang('SETTINGS') }}</h1>

<form id="acp_board" method="post" action="{{ U_ACTION }}">
    <fieldset>
        <dl>
            <dt><label>{{ lang('ACP_CK_VE_VERSION') }}</label></dt>
            <dd>{{ CK_VE_VERSION }}</dd>
        </dl>
        <dl>
            <dt><label>{{ lang('ACP_CK_VE_ACTIVE') }}</label><br/><span>{{ lang('ACP_CK_VE_ACTIVE_EXPLAIN') }}</span></dt>
            <dd><input type="radio" class="radio" name="ck_ve_active_global" value="1" {% if S_CK_VE_ACTIVE %}checked="checked" {% endif %}/> {{ lang('YES') }} &nbsp;
                <input type="radio" class="radio" name="ck_ve_active_global" value="0" {% if not S_CK_VE_ACTIVE %}checked="checked" {% endif %}/> {{ lang('NO') }}</dd>
        </dl>

        <dl>
            <dt><label>{{ lang('ACP_CK_VE_INDIVIDUAL') }}</label></dt>
            <dd>&nbsp;</dd>
        </dl>
        <dl>
            <dt><label>{{ lang('ACP_CK_VE_ALLOW_DATE') }}</label><br/><span>{{ lang('ACP_CK_VE_ALLOW_DATE_EXPLAIN') }}</span></dt>
            <dd><input type="radio" class="radio" name="ck_ve_allow_date" value="1" {% if S_CK_VE_ALLOW_DATE %}checked="checked" {% endif %}/> {{ lang('YES') }} &nbsp;
                <input type="radio" class="radio" name="ck_ve_allow_date" value="0" {% if not S_CK_VE_ALLOW_DATE %}checked="checked" {% endif %}/> {{ lang('NO') }}</dd>
        </dl>

        <dl>
            <dt><label>{{ lang('ACP_CK_VE_ALLOW_FOCAL_LENGTH') }}</label><br/><span>{{ lang('ACP_CK_VE_ALLOW_FOCAL_LENGTH_EXPLAIN') }}</span></dt>
            <dd><input type="radio" class="radio" name="ck_ve_allow_focal_length" value="1" {% if S_CK_VE_ALLOW_FOCAL_LENGTH %}checked="checked" {% endif %}/> {{ lang('YES') }} &nbsp;
                <input type="radio" class="radio" name="ck_ve_allow_focal_length" value="0" {% if not S_CK_VE_ALLOW_FOCAL_LENGTH %}checked="checked" {% endif %}/> {{ lang('NO') }}</dd>
        </dl>

         <dl>
            <dt><label>{{ lang('ACP_CK_VE_ALLOW_EXPOSURE_TIME') }}</label><br/><span>{{ lang('ACP_CK_VE_ALLOW_EXPOSURE_TIME_EXPLAIN') }}</span></dt>
            <dd><input type="radio" class="radio" name="ck_ve_allow_exposure_time" value="1" {% if S_CK_VE_ALLOW_EXPOSURE_TIME %}checked="checked" {% endif %}/> {{ lang('YES') }} &nbsp;
                <input type="radio" class="radio" name="ck_ve_allow_exposure_time" value="0" {% if not S_CK_VE_ALLOW_EXPOSURE_TIME %}checked="checked" {% endif %}/> {{ lang('NO') }}</dd>
        </dl>

         <dl>
            <dt><label>{{ lang('ACP_CK_VE_ALLOW_F_NUMBER') }}</label><br/><span>{{ lang('ACP_CK_VE_ALLOW_F_NUMBER_EXPLAIN') }}</span></dt>
            <dd><input type="radio" class="radio" name="ck_ve_allow_f_number" value="1" {% if S_CK_VE_ALLOW_F_NUMBER %}checked="checked" {% endif %}/> {{ lang('YES') }} &nbsp;
                <input type="radio" class="radio" name="ck_ve_allow_f_number" value="0" {% if not S_CK_VE_ALLOW_F_NUMBER %}checked="checked" {% endif %}/> {{ lang('NO') }}</dd>
        </dl>

         <dl>
            <dt><label>{{ lang('ACP_CK_VE_ALLOW_ISO') }}</label><br/><span>{{ lang('ACP_CK_VE_ALLOW_ISO_EXPLAIN') }}</span></dt>
            <dd><input type="radio" class="radio" name="ck_ve_allow_iso" value="1" {% if S_CK_VE_ALLOW_ISO %}checked="checked" {% endif %}/> {{ lang('YES') }} &nbsp;
                <input type="radio" class="radio" name="ck_ve_allow_iso" value="0" {% if not S_CK_VE_ALLOW_ISO %}checked="checked" {% endif %}/> {{ lang('NO') }}</dd>
        </dl>

         <dl>
            <dt><label>{{ lang('ACP_CK_VE_ALLOW_WB') }}</label><br/><span>{{ lang('ACP_CK_VE_ALLOW_WB_EXPLAIN') }}</span></dt>
            <dd><input type="radio" class="radio" name="ck_ve_allow_wb" value="1" {% if S_CK_VE_ALLOW_WB %}checked="checked" {% endif %}/> {{ lang('YES') }} &nbsp;
                <input type="radio" class="radio" name="ck_ve_allow_wb" value="0" {% if not S_CK_VE_ALLOW_WB %}checked="checked" {% endif %}/> {{ lang('NO') }}</dd>
        </dl>

         <dl>
            <dt><label>{{ lang('ACP_CK_VE_ALLOW_FLASH') }}</label><br/><span>{{ lang('ACP_CK_VE_ALLOW_FLASH_EXPLAIN') }}</span></dt>
            <dd><input type="radio" class="radio" name="ck_ve_allow_flash" value="1" {% if S_CK_VE_ALLOW_FLASH %}checked="checked" {% endif %}/> {{ lang('YES') }} &nbsp;
                <input type="radio" class="radio" name="ck_ve_allow_flash" value="0" {% if not S_CK_VE_ALLOW_FLASH %}checked="checked" {% endif %}/> {{ lang('NO') }}</dd>
        </dl>

         <dl>
            <dt><label>{{ lang('ACP_CK_VE_ALLOW_MAKE') }}</label><br/><span>{{ lang('ACP_CK_VE_ALLOW_MAKE_EXPLAIN') }}</span></dt>
            <dd><input type="radio" class="radio" name="ck_ve_allow_make" value="1" {% if S_CK_VE_ALLOW_MAKE %}checked="checked" {% endif %}/> {{ lang('YES') }} &nbsp;
                <input type="radio" class="radio" name="ck_ve_allow_make" value="0" {% if not S_CK_VE_ALLOW_MAKE %}checked="checked" {% endif %}/> {{ lang('NO') }}</dd>
        </dl>

         <dl>
            <dt><label>{{ lang('ACP_CK_VE_ALLOW_MODEL') }}</label><br/><span>{{ lang('ACP_CK_VE_ALLOW_MODEL_EXPLAIN') }}</span></dt>
            <dd><input type="radio" class="radio" name="ck_ve_allow_model" value="1" {% if S_CK_VE_ALLOW_MODEL %}checked="checked" {% endif %}/> {{ lang('YES') }} &nbsp;
                <input type="radio" class="radio" name="ck_ve_allow_model" value="0" {% if not S_CK_VE_ALLOW_MODEL %}checked="checked" {% endif %}/> {{ lang('NO') }}</dd>
        </dl>

         <dl>
            <dt><label>{{ lang('ACP_CK_VE_ALLOW_EXPOSURE_PROG') }}</label><br/><span>{{ lang('ACP_CK_VE_ALLOW_EXPOSURE_PROG_EXPLAIN') }}</span></dt>
            <dd><input type="radio" class="radio" name="ck_ve_allow_exposure_prog" value="1" {% if S_CK_VE_ALLOW_EXPOSURE_PROG %}checked="checked" {% endif %}/> {{ lang('YES') }} &nbsp;
                <input type="radio" class="radio" name="ck_ve_allow_exposure_prog" value="0" {% if not S_CK_VE_ALLOW_EXPOSURE_PROG %}checked="checked" {% endif %}/> {{ lang('NO') }}</dd>
        </dl>

         <dl>
            <dt><label>{{ lang('ACP_CK_VE_ALLOW_EXPOSURE_BIAS') }}</label><br/><span>{{ lang('ACP_CK_VE_ALLOW_EXPOSURE_BIAS_EXPLAIN') }}</span></dt>
            <dd><input type="radio" class="radio" name="ck_ve_allow_exposure_bias" value="1" {% if S_CK_VE_ALLOW_EXPOSURE_BIAS %}checked="checked" {% endif %}/> {{ lang('YES') }} &nbsp;
                <input type="radio" class="radio" name="ck_ve_allow_exposure_bias" value="0" {% if not S_CK_VE_ALLOW_EXPOSURE_BIAS %}checked="checked" {% endif %}/> {{ lang('NO') }}</dd>
        </dl>

         <dl>
            <dt><label>{{ lang('ACP_CK_VE_ALLOW_METERING') }}</label><br/><span>{{ lang('ACP_CK_VE_ALLOW_METERING_EXPLAIN') }}</span></dt>
            <dd><input type="radio" class="radio" name="ck_ve_allow_metering" value="1" {% if S_CK_VE_ALLOW_METERING %}checked="checked" {% endif %}/> {{ lang('YES') }} &nbsp;
                <input type="radio" class="radio" name="ck_ve_allow_metering" value="0" {% if not S_CK_VE_ALLOW_METERING %}checked="checked" {% endif %}/> {{ lang('NO') }}</dd>
        </dl>

         <dl>
            <dt><label>{{ lang('ACP_CK_VE_ALLOW_GPS') }}</label><br/><span>{{ lang('ACP_CK_VE_ALLOW_GPS_EXPLAIN') }}</span></dt>
            <dd><input type="radio" class="radio" name="ck_ve_allow_gps" value="1" {% if S_CK_VE_ALLOW_GPS %}checked="checked" {% endif %}/> {{ lang('YES') }} &nbsp;
                <input type="radio" class="radio" name="ck_ve_allow_gps" value="0" {% if not S_CK_VE_ALLOW_GPS %}checked="checked" {% endif %}/> {{ lang('NO') }}</dd>
        </dl>

        <dl>
            <dt><label>{{ lang('ACP_CK_VE_USE_MAPS') }}</label><br/><span>{{ lang('ACP_CK_VE_USE_MAPS_EXPLAIN') }}</span></dt>
            <dd><input type="radio" class="radio" name="ck_ve_use_maps" value="1" {% if S_CK_VE_USE_MAPS %}checked="checked" {% endif %}/> {{ lang('YES') }} &nbsp;
                <input type="radio" class="radio" name="ck_ve_use_maps" value="0" {% if not S_CK_VE_USE_MAPS %}checked="checked" {% endif %}/> {{ lang('NO') }}</dd>
        </dl>

         <p class="submit-buttons">
            <input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
            <input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
        </p>

        {{ S_FORM_TOKEN }}
    </fieldset>
</form>

{% INCLUDE 'overall_footer.html' %}
