/* div-data for exif-formatting */
div.ck_ve_exifblock {
	margin: 0;
	overflow-x: auto;
	overflow: hidden;
	font-size: 0.9em;
	line-height: 1.5em;
	width: 98%;
	font-weight: bold;
	text-align: left;
	cursor: pointer;
}


div.ck_ve_table { 
	display: none;
}

div.ck_ve_tabrow {
	margin: 1px;
}

div.ck_ve_tabcell {
	font-size: 0.90em;
	line-height: 1.1em;
	font-weight: normal;
	border-width: 1px;
	margin: 1px;
}

@media screen and (min-width: 450px ) {


	div.ck_ve_table { 
		display: none; 
		border-collapse:collapse; 
	}

	div.ck_ve_tabrow {
		display: table-row; 
	}
	div.ck_ve_tabcell {
		display: table-cell; 
		width: 49%; 
		font-size: 0.85em;
		line-height: 1.1em;
		font-weight: normal;
	}
	div.ck_ve_tabcell:nth-child(2){
		font-style: italic;
	}
}