/* div-data for exif-formatting */
div.exifblock {
	margin: 0;
	overflow-x: auto;
	overflow: hidden;
	font-size: 1.1em;
	line-height: 1.5em;
	width: 98%;
	font-weight: bold;
	text-align: left;
}

div.exifline {
	font-size: 0.75em;
	line-height: 1.0em;
	font-weight: normal;
	text-align: left;
}


div.exifleft {
	font-weight: normal;
	text-align: left;
	float: left;
}

div.exifright {
	margin-left: 0.2em;
	text-align: left;
	font-weight: normal;
	font-style: italic;
	float: left;
}

div.table { 
}

div.tabrow {
}

div.tabcell {
	font-size: 0.90em;
	line-height: 1.0em;
	font-weight: normal;
}

@media screen and (min-width: 450px ) {


    div.table { 
      display: table; 
      border-collapse:collapse; 
    }

	div.tabrow {
		display: table-row; 
	}
	div.tabcell {
		display: table-cell; 
		width: 49%; 
		font-size: 0.85em;
		line-height: 1.0em;
		font-weight: normal;
	}
	div.tabcell:nth-child(2){
		font-style: italic;
	}
}